* {
  box-sizing: border-box;
}
body {
	min-height: 100vh;
}

.header,
.alerte,
.main,
.footer {
	display: 1170px;
	margin: 0 auto 0;
	padding: 1em O;
}
.header {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-areas: "logo right_sidebar";
}

.logo {
	grid-area: logo;
}
.right_sidebar {
	grid-area: right_sidebar;
	text-align: right;
}

.main {
	display: grid;
	grid-template-rows: auto auto;
	grid-template-areas: "top_main   "
			   			 "bottom_main";
	text-align: center;
	background-color: white;
	/*border-radius: 4px;
	border-color: transparent;*/
	/*background-color: #EBE8E0; /* ivoire */
}
.top_main {
	grid-area: top_main;
	/*background-color: red;*/
	background-image: linear-gradient(to bottom, rgba(239,76,76,45), rgba(156,27,27,1));
	border-radius: 4px;
	border-color: transparent;
	/*overflow: auto;*/
}
.bottom_main {
	grid-area: bottom_main;
	background-color: purple;
}
.footer {
	text-align: center;
	/*background-color: red; /* rouge */
	background-image: linear-gradient(90deg, rgba(239,76,76,1) 0%, rgba(156,27,27,1) 50%, rgba(239,76,76,1) 100%);
	padding:10px;
	border: 1px;
	border-radius: 4px;
}
.footer a{
		color: #ffffff;
		/*font-weight: bold;*/
		text-decoration: none;
		hover: {
			font-size:1.3em;
		}
}
.footer a:hover {
			color: #A8BBB0;
			font-size: 1.1em;
			
		}
.main_content {
	/*background-color: #EBE8E0; /* ivoire */
	background-color: #ffffff; 
}

.liens {
	display:flex;
	padding: 5px;
}
.contenu_liens a{
	color: black;
}
.marge_gauche_liens,
.marge_droite_liens {
	width: 12.5%;
}

input[type=text], input[type=password], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

#code {
	width: 70px;
	padding: 12px;
  	border: 1px solid #ccc;
  	border-radius: 4px;
  	box-sizing: border-box;
  	margin-top: 6px;
  	margin-bottom: 16px;
  	resize: vertical;
}

.container {
	display: flex;
	justify-content: space-around;
}

.frm_left {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-end;

}
.frm_right {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
}

.frm {
	/*background-color: #E0DDD5; /*ivoire foncé*/
	/*background-color: #EBE8E0; /*ivoire clair*/
	background-color: #A8BBB0; /*celadon*/
}

.radius {
	border-radius: 4px;	
	border-color: transparent;
}

.red {
	/*background-color: red;*/
	background-image: linear-gradient(to right, rgba(239,76,76,45), rgba(156,27,27,0.6));
}
.row::after {
  clear: both;
  display: block;
}

.white{
	background-color: #ffffff;
}

.reda {
	color: red;
	text-decoration: none;
}

a {
	color: #A8BBB0;
}
.logolink {
	width: 80px;
	height: 80px;
	background-image: url("./logo75x79.png"), url("./logos/logo75x79.png");
}

.logoutlink {
	position: absolute;
	right: 10px;
	width: 26px;
	height: 26px;
	background-image: url("./logout25x25.png"), url("./logos/logout25x25.png");
}

.accountlink {
	position: absolute;
	right: 10px;
	top: 50px;
	width: 26px;
	height: 26px;
	background-image: url("./account25x25.png"), url("./logos/account25x25.png");
}

.logolink a{
	text-decoration: none;
}
.logoutlink a{
	text-decoration: none;
}
.accountlink a{
	text-decoration: none;
}

.container {
	display: flex;
	justify-content: stretch;
	align-items: flex-end;
	border: 1px solid #EBE8E0;
  	border-radius: 2px;
  	padding-right: 20px;
  	margin: 1px;
}

.logo_acteur100x50 {
	display: none;
	clip: rect(0,0,0,0);
}

.logo_acteur200x100 {
	padding: 20px;
	flex-grow: 1;
	flex-basis: 101px;
	align-self: flex-end;
}

.lirelasuite {
	flex-basis: 120px;
	padding: 30px;
	align-self: space-around;
}

.resume_acteur {
	padding: 30px;
	text-align: left;
	align-self: space-around;
	font-size: 13px;
}

#readmore, button, input[type=submit]  {
	min-width: 90px;
	border-color: red;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}
/* 12 colonnes */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.34%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
/* 24 colonnes */
.col--1 {width: 4.16%;}
.col--2 {width: 8.32%;}
.col--3 {width: 12.5%;}
.col--4 {width: 16.64%;}
.col--5 {width: 20.80%;}
.col--6 {width: 24.96%;}
.col--7 {width: 29.12%;}
.col--8 {width: 33.28%;}
.col--9 {width: 37.44%;}
.col--10 {width: 41.60%;}
.col--11 {width: 45.76%;}
.col--12 {width: 49.92%;}
.col--13 {width: 54.08%;}
.col--14 {width: 58.24%;}
.col--15 {width: 62.4%;}
.col--16 {width: 66.56%;}
.col--17 {width: 70.72%;}
.col--18 {width: 75%;}
.col--19 {width: 79.04%;}
.col--20 {width: 83.2%;}
.col--21 {width: 87.36%;}
.col--22 {width: 91.52%;}
.col--23 {width: 95.68%;}
.col--24 {width: 100%;}
/*
@media only screen and (max-width: 768px) {
  * For mobile phones: *
  [class*="col-"] {
    width: 100%;
  }
*/  


@media only screen and (max-width: 620px) {
  [class*="bottom"] {
    /*background-color: yellow;*/
    display: none;
  }
  [class="logolink"] {
  	width: 33px;
  	height: 33px;
  	background-image: url("./logo32x32.png"), url("./logos/logo32x32.png");
  }
  [class="logoutlink"] {
  	width: 16px;
  	height: 18px;
  	background-image: url("./logout15x15.png"), url("./logos/logout15x15.png");
    background-repeat: no-repeat, no-repeat;
  }
  [class="accountlink"] {
  	width: 16px;
  	height: 18px;
  	background-image: url("./account15x15.png"), url("./logos/account15x15.png");
    background-repeat: no-repeat, no-repeat;
  }

    [class="container"] {
    	display: flex;
    	flex-direction: column;
    	justify-content: center;
    	border-radius: 2px;
    }
    [class="logo_acteur100x50"] {
    display: inherit;
  	width: 122px;
  	align-self: center;
  	padding: 10px
  }
   [class="logo_acteur200x100"] {
  	display: none;
	clip: rect(0,0,0,0);
  }

  [class="resume_acteur"] {
  	min-width: 122px;
	padding: 10px;
	text-align: center;
	align-self: center;
	font-size: 10px;
  }
    [class="liresuite"] {
  	min-width: 122px;
	padding: 10px;
	align-self: center;
	font-size: 10px;
  }
}
@media only screen and (max-width: 1024px) and (min-width: 620px) {
  [class*="bottom"] {
    display: none;
  }
  [class="container"] {
  	display: flex;
  	flex-direction: row;
  	flex-wrap: wrap;
  	border: 1px solid #EBE8E0;
  	border-radius: 4px;
  	padding-right: 10px;
  	margin: 1px;
  }
  [class="logo_acteur100x50"] {
  	display: inherit;
  	position: relative;
  	width: 122px;
  	align-content: flex-start;
  	align-self: center;
  	padding: 20px;
  }
   [class="logo_acteur200x100"] {
  	display: none;
	clip: rect(0,0,0,0);
  }
  [class="resume_acteur"] {
  	max-width: 200px;
	padding: 20px;
	text-align: left;
	align-self: center;
	align-content: flex-start;
	font-size: 12px;
  }
  [class="lirelasuite"] {
  	min-width: 100px;
	text-align: right;
	padding: 20px;
	align-content: flex-end;
	align-self: center;
  }
}







