* {
	box-sizing: border-box;
}

body {
	min-height: 100vh;
}

.wrap_logout {
	display: flex;
	justify-content: flex-end;
}

.header,
.alerte,
.main,
.footer {
	font-family: Arial, Helvetica, "sans-serif";
}
.header {
	display: flex;
	justify-content: space-between;
}

.haut_droit {
	display: flex;
	justify-content: right;
	align-items: flex-end;
}

main {
	display: grid;
	grid-template-columns: 7% 3% 80% 3% 7%;
}

.footer a{
	color: #aa2323;
	text-decoration: none;
}
.footer a:hover {
	font-size: 1.2em;
}
.main_content {
	background-color: #ffffff; 
}

.contenu_liens a{
	color: black;
}

input[type=text], input[type=password], select, textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
}

#code {
	width: 70px;
	padding: 12px;
  	border: 1px solid #ccc;
  	border-radius: 4px;
  	box-sizing: border-box;
  	margin-top: 6px;
  	margin-bottom: 16px;
  	resize: vertical;
}

#foot {
	color: #c32b0b;
}

.container {
	display: flex;
	justify-content: space-around;
}

.frm_left {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-end;

}
.frm_right {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
}

.frm {
	margin-top: 15px;
	padding: 15px;
	text-align: center;
	background-color: #E0DDD5; 
}

.radius {
	border-radius: 4px;	
	border-color: transparent;
}

.red {
	background-image: linear-gradient(to right, rgba(239,76,76,45), rgba(156,27,27,0.6));
}

.white {
	background-color: #ffffff;
}

.synthese {
	background-color: #ffffff;
	padding: 5px;
	border: solid 2px;
	border-color: #000000;
	border-spacing: 3px;
	border-radius: 4px;
	margin-bottom: 5px;
}

.reda {
	color: red;
	text-decoration: none;
}

.logolink {
	width: 80px;
	height: 80px;
	background-image: url("./logo75x79.png"), url("./logos/logo75x79.png");
}

.logoutlink {
	/*position: absolute;
	right: 20px;*/
	width: 26px;
	height: 26px;
	background-image: url("./logout25x25.png"), url("./logos/logout25x25.png");
}

.accountlink {
	width: 26px;
	height: 26px;
	background-image: url("./account25x25.png"), url("./logos/account25x25.png");
}

.logolink a{
	text-decoration: none;
}
.logoutlink a{
	text-decoration: none;
}
.accountlink a{
	text-decoration: none;
}

.container {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	border: 1px solid #A8BBB0;
  	border-radius: 2px;
  	padding-right: 20px;
  	margin: 1px;
}

.logo_acteur100x50 {
	display: none;
	clip: rect(0,0,0,0);
}

.logo_acteur200x100 {
	padding: 20px;
	flex-grow: 1;
	flex-basis: 101px;
	align-self: flex-end;
	max-width: 221px;
}

.resume_acteur {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-content: stretch;
	font-family: Arial, Helvetica, "sans-serif";
	padding-top: 5px;
	padding-left: 15px;
	padding-bottom: 5px;
	text-align: left;
	max-height: 121px;
}

.resume_acteur p{
	font-size: 0.8em;
}

.resume_acteur h3{
	font-size: 0.9em;
}

.logoresume {
	display: flex;
	justify-content: flex-start;
}

.readmore, button, input[type=submit]  {
	font-size: 0.8em;
	border-radius: 10px;
	background-color: red;
	color: white;
	border-color: red;
}

.details_acteur {
	text-align: left;
    font-family: Arial, Helvetica, "sans-serif";
    padding-left: 16px;
    border-left: 8px solid #000000;
    font-size: 0.8em;
}

.presentation_gbaf {
	display: block;
	text-align: justify;
	background-size: cover;
	background-image: linear-gradient(to right, rgba(239,76,76,45), rgba(156,27,27,1));
	width: 100%;
	padding-left: 30px;
	padding-right: 30px;
	margin-bottom: 0px;
}
.bandeau {
	display: block;
	text-align: justify;
	background-image: url("./logos/bandeau800.jpg");
	background-color: white;
	background-size: cover;
	min-height: 240px;
	width: 100%;
	padding-left: 30px;
	padding-right: 30px;
	margin-top: 0px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}

#idprez {
	font-family: Arial, Helvetica, "sans-serif";
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 16px;
	color: #ffffff;
	margin: 0px;
}

#tous_les_commentaires {
	font-family: Arial, Helvetica, "sans-serif";
	color: black;
}

#ajout_commentaire {
	vertical-align: bottom;
}

.un_commentaire {
	font-family: Arial, Helvetica, "sans-serif";
	border: solid 2px;
	background: rgb(255,255,255);
	background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(239,239,242,0.9979342078628326) 71%, rgba(222,218,218,1) 100%);
	border-color: #797761;
	border-spacing: 3px;
	border-radius: 4px;
	margin-top: 3px;
	margin-bottom: 3px;
	text-align: left;
	padding: 15px;
}

.entete_commentaire {
	font-style: italic;
}

.alignright {
	text-align: right;	
}

.fontarial {
	font-family: Arial, Helvetica, "sans-serif";
	background-color: #ffffff;
}

.notextdeco {
	text-decoration: none;
}

.col-contenu {
	min-width: 80%;
	grid-row: 1;
	grid-column: 3;
	justify-self: center;
	align-self: center;
}

.col-deco-gauche {
	background-image: linear-gradient(to bottom, rgba(239,76,76,45), rgba(156,27,27,1));
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-color: transparent;
	grid-row: 1;
	grid-column: 1;
	min-width: 7%;
}
.col-deco-droite {
	background-image: linear-gradient(to bottom, rgba(239,76,76,45), rgba(156,27,27,1));
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-color: transparent;
	grid-row: 1;
	grid-column: 5;
	min-width: 7%;
}
.col-gouttiere-gauche {
	grid-row: 1;
	grid-column: 2;
	min-width: 3%;
}
.col-gouttiere-droite {
	grid-row: 1;
	grid-column: 4;
	min-width: 3%;
}

.aacteur a{
	color: #A98E5F;
	text-decoration: none;
}

.aacteur a:hover {
	font-size: 1.1em;
	}

.aacteur {
	font-size: 2em;
}

.evaluation_acteur {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding: 10px;
	border: 2px solid black;
	min-height:60px;
	padding-top: 20px;
	border-radius: 3px;
	margin-bottom: 4px;
	background-color: white;
}

.nb_votes {
	display: flex;
	justify-content: stretch;
}
#new_vote_btn,
#new_comment_btn {
	height: 50px;
	padding: 0px;
	font-weight: bold;
}
#new_comment_btn {
	text-align: left;
}

#btn_ajout_commentaire {
	height: 33px;
}

