* {
  box-sizing: border-box;
}
body {
	min-height: 100vh;
}

.header,
.alerte,
.main,
.footer {
	font-family: Arial, Helvetica, "sans-serif";
}
.header {
	display: flex;
	justify-content: space-between;
}

.haut_droit {
	display: flex;
	justify-content: right;
	align-items: flex-end;
}

main {
	display: grid;
	grid-template-columns: 7% 3% 80% 3% 7%;
	/*text-align: center;
	background-color: white;*/
	/*border-radius: 4px;
	border-color: transparent;*/
	/*background-color: #EBE8E0; /* ivoire */
}


}

.footer a{
		color: #aa2323;
		text-decoration: none;

}
.footer a:hover {
			font-size: 1.2em;
			
		}
.main_content {
	/*background-color: #EBE8E0; /* ivoire */
	background-color: #ffffff; 
}


.contenu_liens a{
	color: black;
}


input[type=text], input[type=password], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

#code {
	width: 70px;
	padding: 12px;
  	border: 1px solid #ccc;
  	border-radius: 4px;
  	box-sizing: border-box;
  	margin-top: 6px;
  	margin-bottom: 16px;
  	resize: vertical;
}

#foot {
	color: #c32b0b;
}

.container {
	display: flex;
	justify-content: space-around;
}

.frm_left {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-end;

}
.frm_right {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
}

.frm {
	margin-top: 15px;
	padding: 15px;
	text-align: center;
	background-color: #E0DDD5; /*ivoire foncé*/
	/*background-color: #EBE8E0; /*ivoire clair*/
	/*background-color: #A8BBB0; /*celadon*/
}

.radius {

	border-radius: 4px;	
	border-color: transparent;
}


.red {
	/*background-color: red;*/
	background-image: linear-gradient(to right, rgba(239,76,76,45), rgba(156,27,27,0.6));
}

/*
.row::after {
  clear: both;
  display: block;
}
*/
.white {
	background-color: #ffffff;
}

.synthese {
	background-color: #ffffff;
	padding: 5px;
	border: solid 2px;
	border-color: #000000;
	border-spacing: 3px;
	border-radius: 4px;
	margin-bottom: 5px;

}

.reda {
	color: red;
	text-decoration: none;
}


.logolink {
	width: 80px;
	height: 80px;
	background-image: url("./logo75x79.png"), url("./logos/logo75x79.png");
}

.logoutlink {
	/*position: absolute;
	right: 20px;*/
	width: 26px;
	height: 26px;
	background-image: url("./logout25x25.png"), url("./logos/logout25x25.png");
}

.accountlink {
	/*position: absolute;
	right: 20px;
	top: 50px;*/
	width: 26px;
	height: 26px;
	background-image: url("./account25x25.png"), url("./logos/account25x25.png");
}

.logolink a{
	text-decoration: none;
}
.logoutlink a{
	text-decoration: none;
}
.accountlink a{
	text-decoration: none;
}

.container {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	border: 1px solid #A8BBB0;
  	border-radius: 2px;
  	padding-right: 20px;
  	margin: 1px;
}

.logo_acteur100x50 {
	display: none;
	clip: rect(0,0,0,0);
}

.logo_acteur200x100 {
	padding: 20px;
	flex-grow: 1;
	flex-basis: 101px;
	align-self: flex-end;
	max-width: 221px;
}


.resume_acteur {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-content: stretch;
	font-family: Arial, Helvetica, "sans-serif";
	padding-top: 5px;
	padding-left: 15px;
	padding-bottom: 5px;
	text-align: left;
	max-height: 121px;
}

.resume_acteur p{
	font-size: 0.8em;
}

.resume_acteur h3{
	font-size: 0.9em;
}

.logoresume {
	display: flex;
	justify-content: flex-start;
}

#readmore, button, input[type=submit]  {
	/*min-width: 90px;*/
	border-color: red;
	font-size: 0.8em;
}

.details_acteur {
	text-align: left;
    font-family: Arial, Helvetica, "sans-serif";
    padding-left: 16px;
    /*border-left: 10px solid #00c8d7;*/
    border-left: 8px solid #000000;
    font-size: 0.8em;
}

.presentation_gbaf {
	display: block;
	text-align: justify;
	background-size: cover;
	background-image: linear-gradient(to right, rgba(239,76,76,45), rgba(156,27,27,1));
	width: 100%;
	padding-left: 30px;
	padding-right: 30px;
	margin-bottom: 0px;
}
.bandeau {
	display: block;
	text-align: justify;
	background-image: url("./logos/bandeau800.jpg");
	background-color: white;
	background-size: cover;
	min-height: 240px;
	width: 100%;
	padding-left: 30px;
	padding-right: 30px;
	margin-top: 0px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}

#idprez {
	font-family: Arial, Helvetica, "sans-serif";
	font-color: #000000;
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 16px;
	color: #ffffff;
	margin: 0px;
}

#tous_les_commentaires {
	/*border: solid 1px;*/
	/*background-color: #F56D4B;*/
	font-family: Arial, Helvetica, "sans-serif";
	color: black;

}

#ajout_commentaire {
	vertical-align: bottom;
}

.un_commentaire {
	font-family: Arial, Helvetica, "sans-serif";
	border: solid 2px;
	background: rgb(255,255,255);
	background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(239,239,242,0.9979342078628326) 71%, rgba(222,218,218,1) 100%);
	border-color: #797761;
	border-spacing: 3px;
	border-radius: 4px;
	margin-top: : 3px;
	margin-bottom: 3px;
	text-align: left;
	padding: 15px;
}

.entete_commentaire {
	font-style: italic;
}

.alignright {
	text-align: right;
	
}

.fontarial {
	font-family: Arial, Helvetica, "sans-serif";
	background-color: #ffffff;
}

.notextdeco {
	text-decoration: none;
}

/*[class*="col-"] {
  float: left;
  padding: 15px;
}*/
/*gbaf*/
/*[class*="col-deco"] {
	min-width: 7.5%;
	background-image: linear-gradient(to right, rgba(239,76,76,45), rgba(156,27,27,0.6));
}
[class*="col-gouttiere"] {
	min-width: 2.5%;
}*/
.col-contenu {
	min-width: 80%;
	grid-row: 1;
	grid-column: 3;
	justify-self: center;
	align-self: center;
}

.col-deco-gauche {
	background-image: linear-gradient(to bottom, rgba(239,76,76,45), rgba(156,27,27,1));
	border-radius: 4px;
	border-color: transparent;
	grid-row: 1;
	grid-column: 1;
	min-width: 7%;
}
.col-deco-droite {
	background-image: linear-gradient(to bottom, rgba(239,76,76,45), rgba(156,27,27,1));
	border-radius: 4px;
	border-color: transparent;
	grid-row: 1;
	grid-column: 5;
	min-width: 7%;
}
.col-gouttiere-gauche {
	grid-row: 1;
	grid-column: 2;
	min-width: 3%;
}
.col-gouttiere-droite {
	grid-row: 1;
	grid-column: 4;
	min-width: 3%;
}

.aacteur a{
	color: #A98E5F;
	text-decoration: none;
}

.aacteur a:hover {
	font-size: 1.1em;
	}

.aacteur {
	font-size: 2em;
}

.evaluation_acteur {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding: 10px;
	border: 2px solid black;
	min-height:60px;
	padding-top: 20px;
	border-radius: 3px;
	margin-bottom: 4px;
	background-color: white;
}

.nb_votes {
	display: flex;
	justify-content: stretch;
	/*min-width: 250px;*/
}
#new_vote_btn,
#new_comment_btn {
	height: 50px;
	padding: 0px;
}
#new_comment_btn {
	text-align: left;
}

#btn_ajout_commentaire {
	height: 33px;
}

/* 12 colonnes */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.34%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
/* 24 colonnes */
.col--1 {width: 4.16%;}
.col--2 {width: 8%;}
.col--3 {width: 12.5%;}
.col--4 {width: 16.64%;}
.col--5 {width: 20.80%;}
.col--6 {width: 24.96%;}
.col--7 {width: 29.12%;}
.col--8 {width: 33.28%;}
.col--9 {width: 37.44%;}
.col--10 {width: 41.60%;}
.col--11 {width: 45.76%;}
.col--12 {width: 49.92%;}
.col--13 {width: 54.08%;}
.col--14 {width: 58.24%;}
.col--15 {width: 62.4%;}
.col--16 {width: 66.56%;}
.col--17 {width: 70.72%;}
.col--18 {width: 75%;}
.col--19 {width: 79.04%;}
.col--20 {width: 84%;}
.col--21 {width: 87.36%;}
.col--22 {width: 91.52%;}
.col--23 {width: 95.68%;}
.col--24 {width: 100%;}
