@media only screen and (max-width: 820px)  {

.presentation_gbaf {
  font-size: 0.8em;
}
.container {
  display: flex;
  justify-content: space-between;
  border: 1px solid #A8BBB0;
  border-radius: 2px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 1px;
}

.logo_acteur100x50 {
  display: inherit;
  max-width: 122px;
  max-height: 75px;
  min-height: 75px;
  min-width: 122px;
  padding: 10px;
}

.logo_acteur200x100 {
  display: none;
  clip: rect(0,0,0,0);
}

.lirelasuite {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-bottom: 0px;
}

.resume_acteur {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: stretch;
  font-family: Arial, Helvetica, "sans-serif";
  padding-top: 5px;
  padding-left: 10px;
  padding-bottom: 5px;
  text-align: left;
}

.resume_acteur p{
  font-size: 0.7em;
}

.resume_acteur h3{
  font-size: 0.8em;
}

.logoresume {
  display: flex;
  justify-content: flex-start;
  max-height: 110px;
}

.readmore, button, input[type=submit]  {
  /*min-width: 70px;*/
  border-color: red;
  font-size: 0.6em;
}
}
/*smartphone*/
@media only screen and (max-width: 600px) {

.presentation_gbaf {
  font-size: 0.7em;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  flex-wrap: wrap;
  border: 1px solid #A8BBB0;
  border-radius: 2px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 1px;
}

.logo_acteur100x50 {
  display: inherit;
  max-width: 122px;
  max-height: 75px;
  min-height: 75px;
  min-width: 122px;
  padding: 10px;
}

.logo_acteur200x100 {
  display: none;
  clip: rect(0,0,0,0);
}


.liresuite {
  margin-top: 40px;
  margin-left: 350px;
  padding: 0px;
}

.un_commentaire {
  font-size: 0.8em;
}

.resume_acteur {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: stretch;
  font-family: Arial, Helvetica, "sans-serif";
  padding-top: 5px;
  padding-left: 10px;
  padding-bottom: 5px;
  text-align: left;
  margin-bottom: 30px;
  max-height: 400px;
}

.resume_acteur p {
  font-size: 0.7em;
}

.resume_acteur h3 {
  font-size: 0.8em;
}

.logoresume {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.readmore, button, input[type=submit]  {
  min-width: 70px;
  border-color: red;
  font-size: 0.6em;
}

.logolink {
  width: 33px;
  height: 33px;
  background-image: url("./logo32x32.png"), url("./logos/logo32x32.png");
}

.col-3.gouttiere {
  width: 5%;
}
.col-6.gouttiere {
    width: 90%;
}
.col--3 {
  width: 5%;
}
.col--18 {
  width: 90%;
}

.logoutlink {
  width: 16px;
  height: 18px;
  background-image: url("./logout15x15.png"), url("./logos/logout15x15.png");
  background-repeat: no-repeat, no-repeat;
}
.accountlink {
  width: 16px;
  height: 18px;
  background-image: url("./account15x15.png"), url("./logos/account15x15.png");
  background-repeat: no-repeat, no-repeat;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.haut_droit {
  display: flex; 
  flex-direction: row-reverse;
  justify-content: right;
  align-items: flex-end;
}
.right_sidebar {
  display: flex;
  flex-direction: row-reverse;
}
}
@media only screen and (max-width: 560px) {

.evaluation_acteur {
  display: flex;
  flex-direction: column;
  /*flex-wrap: wrap;*/
  align-items: center;
  justify-content: space-around;
}

.nb_votes {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;  
}

#new_vote_btn {
  margin-top: 10px;
}

.presentation_gbaf {
  font-size: 0.4em;
}

.liresuite {
margin-top: 40px;
margin-left: 290px;
padding: 0px;
}
}

@media only screen and (max-width: 440px) {
.liresuite {
  margin-top: 40px;
  margin-left: 170px;
  padding: 0px;
}
}

@media only screen and (max-width: 360px) {
.liresuite {
  margin-top: 60px;
  margin-left: 90px;
  padding: 0px;
}
}

@media only screen and (max-width: 280px) {
.liresuite {
margin-top: 90px;
margin-left: 35px;
padding: 0px;
}
}



